@import './variables';

h2 {
  margin-bottom: 20px;
}

input {
  &.name {
    width: 100%;
    margin: 8px 0px;
    padding: 16px 24px;
    margin-top: 10px;
    margin-bottom: 33px;
    border: 1px solid #F4F4F4;
    border-radius: 10px;
    background-color: #F4F4F4;
  }
}
  
label {
  font-size: 16px;
}
  
textarea {
  width: 100%;
  margin: 8px 0px;
  margin-top: 10px;
  padding: 8px 8px;
  min-height: 203px;
  resize: vertical;
  border: 1px solid #F4F4F4;
  border-radius: 10px;
  background-color: #F4F4F4;
}